---
import "../styles/index.css";
import SEO from "../components/SEO.astro";
import Toolbar from "../components/Toolbar.astro";
import ToolRail from "../components/ToolRail.astro";
import Stage from "../components/Stage.astro";
import SidePanel from "../components/SidePanel.astro";
import PagesBar from "../components/PagesBar.astro";
import PresentHint from "../components/PresentHint.astro";
import ExportModal from "../components/modals/ExportModal.astro";
import TemplatesModal from "../components/modals/TemplatesModal.astro";
import MermaidModal from "../components/modals/MermaidModal.astro";
import ProjectsModal from "../components/modals/ProjectsModal.astro";
import AIModal from "../components/modals/AIModal.astro";
import AutosaveModal from "../components/modals/AutosaveModal.astro";
---

<!doctype html>
<html lang="es">
<head><SEO /></head>
<body>

<header><Toolbar /></header>

<main>
  <ToolRail />
  <Stage />
  <SidePanel />
</main>

<PagesBar />
<PresentHint />

<ExportModal />
<TemplatesModal />
<MermaidModal />
<ProjectsModal />
<AIModal />
<AutosaveModal />

<script>
  import "../scripts/app.js";
</script>

</body>
</html>